
.calendar__container {
    font-size: 25px;
    font-weight: 600;
    height: 500px;
    width: 500px;
    margin: 0px 20px;
    border: 2px solid gray;
    padding: 2px 2px 10px 2px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar__line {
    display: flex;
    justify-content: space-evenly;
}

.calendar__month {
    height: 55px;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.calendar__day-week {
    height: 50px;
    width: 50px;
    margin: 2px;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.calendar__day-week:empty {
    opacity: 0;
}

.calendar__day-week:nth-child(1), .calendar__day-week:nth-child(7) {
    color: red;
}

.calendar__today {
    background-color: deepskyblue;
}